<%- include("partials/header.ejs") %>

<div class="options-container">

      <div class="head">
            <h2>Student Management</h2> 
            <button class="add-new-student" id="add-new-student">Add New Student</button>
      </div>
            <form class="search-form" onsubmit="handleSubmit(event)"  >
                  <input id="checkbox" type="checkbox" class="checkbox-round" onclick="form.requestSubmit()"/>
                  <input type="text" class="search-bar" id="search-bar" >
            </form>
            
      
      <div class="student-table">
            
            <div class="header-row">
                  <div class="id-col">
                        <p>iD</p>
                  </div>

                  <div class="name-col">
                        <p>Name</p>
                  </div>

                  <div class="email-col">
                        <p>Email</p>
                  </div>

                  <div class="actions-col">
                        <p>Actions</p>
                  </div>                 
            </div>
            <% students.forEach(student => { %>
                  <div class="row">
                        <div class="id">
                             <p> <%= student.uuid %> </p>
                        </div>
                        <div class="name">
                             <p>  <%= student.name %> </p>

                        </div>
                        <div class="email">
                           <p>   <%= student.email %></p>
                        </div>
                        <div method="post" class="actions">
                              <button id="view<%=student.uuid%>" class="details" 
                                   
                              data-name="<%= student.name %>" 
                              data-email="<%= student.email %>"
                              data-phone="<%= student.phone %>"
                              data-id="<%= student.uuid %>"
                              data-dob="<%= student.DOB %>">
                              
                                    View
                              </button>
                              <button id="edit"  class="edit"
                              data-name="<%= student.name %>"  
                              data-email="<%= student.email %>"
                              data-phone="<%= student.phone %>"
                              data-id="<%= student.uuid %>"
                              data-dob="<%= student.DOB %>"
                              >
                                    Edit
                              </button>
                              <button id="delete"  class="delete"
                                    data-name="<%= student.name %>"
                                    data-id="<%= student.uuid %>"
                               >
                                          Delete
                                    </button>
                              </form>
                        </div>
                  </div>
            <% }) %>
      </div>      
      
</div>


  <div class="modal-container hidden" id="new-student">
      <div class="modal new-student">
            <div class="new-student-head">
                  <h2 class="new-student-title" >Add New Student</h2>
            </div>
            
            <form action="/newstudent" method="post" class="new-student-form">
                  <label for="name">Full Name</label>
                  <input type="text" name="name" required>

                  <label for="email">Email</label>
                  <input type="text" name="email" required>

                  <label for="phone">Phone</label>
                  <input type="text" name="phone" required>

                  <label for="dob">Date of Birth</label>
                  <input type="date" name="dob" required>

                  <button class="add-bttn">Save</button>
            </form>
      </div>
 </div>


 <div class="modal-container hidden" id="details">
      <div class="modal">
            <div class="student-details-head">
                  <h2>Student Details</h2> <button id="close-modal" class="back-to-list" >Back to list</button>
            </div>
            
          <div class="student-details">
            <button id="close-modal" class="back-to-list">Back to list</button>
             <ul class="details-list">
                  <li><span>ID:</span><span class="span-container" id="id"></span></li>
                  <li><span>Name:</span> <span class="span-container" id="name"></span> </li>
                  <li><span>Email:</span> <span class="span-container" id="email"></span> </li>
                  <li><span>Phone:</span> <span class="span-container" id="phone"></span> </li>
                  <li><span>DOB:</span> <span class="span-container" id="dob"></span> </li>
             </ul>
       </div>
      </div>

 </div>


  <div class="modal-container hidden " id="edit-student">
      <div class="modal ">
            <div class="new-student-head">
                  <h2 class="new-student-title">Edit Student details</h2>
            </div>
            
            <form action="/editDetails" method="post" class="new-student-form" id="edit-student-form">
                  <label for="name">Full Name</label>
                  <input class="edit-details" type="text" name="name" id="edit-name" >

                  <label for="email">Email</label>
                  <input class="edit-details" type="text" name="email" id="edit-email" >

                  <label for="phone">Phone</label>
                  <input class="edit-details" type="text" name="phone" id="edit-phone" >

                  <label for="dob">Date of Birth</label>
                  <input class="edit-details" type="date" name="dob" id="edit-dob">

                  <input  type="hidden" id="record-id" name="id">

                  <button class="add-bttn">Save</button>
            </form>
      </div>
 </div>

 <div class="modal-container hidden" id="delete-student">
      <div class="modal">
           <div class="delete-header">
            <h2>Confirm Delete</h2>
           </div>
            <div class="delete-body">
                  <p>Are you sure you want to delete student - <span id="delete-student-name"></span></p>
                  
                  <div class="foot">
                        <button  id="cancel" class="confirm-delete">Cancel</button>
                        <form action="/delete" method="post">
                              <input type="hidden" name="id" id="delete-id" value="">
                              <button type="submit" class="confirm-delete delete-bttn">Delete</button>
                        </form>
                  </div>
                  
            </div>
      </div>
</div>  


<script>
      
      const spanContainers = document.querySelectorAll(".span-container");
      const deleteStdntName = document.getElementById("delete-student-name");


      let dateInpt = document.getElementById("edit-dob");
      let nameInpt = document.getElementById("edit-name");
      let emailInpt = document.getElementById("edit-email");
      let phoneInpt = document.getElementById("edit-phone");
      let idInpt = document.getElementById("record-id");

      const viewBttnsCollection = document.getElementsByClassName("details");
      const editBttnsCollection = document.getElementsByClassName("edit");
      const deleteBttnsCollection = document.getElementsByClassName("delete");
      const rowsCollection = document.getElementsByClassName("row");
      const searchBar = document.getElementById("search-bar");
      const closeStdntDtlsCollection = document.getElementsByClassName("back-to-list")
      
      const viewBttns = Array.from(viewBttnsCollection);
      const editBttns = Array.from(editBttnsCollection);
      const deleteBttns = Array.from(deleteBttnsCollection);
      const rows = Array.from(rowsCollection);
      const newBttn = document.getElementById("add-new-student");
      const closeStdntDtls = Array.from(closeStdntDtlsCollection);
      const cancelDelete = document.getElementById("cancel")
      let checkbox= document.getElementById("checkbox")

      const newStdntModal = document.getElementById("new-student");
      const editStdntModal = document.getElementById("edit-student");
      const deleteStdntModal = document.getElementById("delete-student");
      const stdntDetailsModal = document.getElementById("details");
      const deleteStdntInpt = document.getElementById("delete-id");





      function handleSubmit(event) {
            event.preventDefault(); 
            if (checkbox.checked) {

                  const search = searchBar.value;
                  let searchedRow;
                  const reply = viewBttns.filter((button) => button.dataset.id == search);
                        if(reply.length > 0){
                              const result=reply[0];
                              searchedRow = result.parentElement.parentElement;
                              rows.forEach((row) => {
                        if (row != searchedRow) {
                        row.classList.add("hidden")
                  }
            })} else {
                       alert("No record with that UUID")
                     }
            } else {
                 rows.forEach((row) => {
                  row.classList.remove("hidden")
            })
            }
        }

        function fillInfo(button) {
            spanContainers.forEach(container => {
                  let containerName = container.id;
                  console.log(containerName);
                  console.log(button.dataset[containerName]);
                  container.innerText = button.dataset[containerName];
            });
      };

      function fillInput(button) {
            console.log(button)
            console.log(button.dataset)
            dateInpt.value = button.dataset[dateInpt.name];
            nameInpt.value = button.dataset[nameInpt.name];
            emailInpt.value = button.dataset[emailInpt.name];
            phoneInpt.value = button.dataset[phoneInpt.name];
            idInpt.value = button.dataset.id;
      };

      function fillDelete(button) {
            deleteStdntName.innerText = button.dataset.name;
            deleteStdntInpt.value = button.dataset.id
            console.log(deleteStdntInpt.value)
      }
      
      function toggleModal(panel) {
            panel.classList.remove("hidden")
      }
      
      function closeModal(modal) {
            modal.classList.add("hidden")
      }   
      
      viewBttns.forEach(bttn => {
          bttn.addEventListener("click", function() {
            fillInfo(this);
            toggleModal(stdntDetailsModal);
          })  
      });

      editBttns.forEach(bttn =>{
            bttn.addEventListener("click", function() {
                  fillInput(this);
                  toggleModal(editStdntModal);
            })
      })
      
      deleteBttns.forEach(bttn => {
            bttn.addEventListener("click", function() {
                  
                  fillDelete(this);

                  toggleModal(deleteStdntModal);
            })
      })

      newBttn.addEventListener("click", function () {
            toggleModal(newStdntModal);
      })  

      closeStdntDtls.forEach(bttn => {
            bttn.addEventListener("click", () =>{
                  closeModal(stdntDetailsModal);
            })
      });

      cancelDelete.addEventListener("click", ()=>{
            closeModal(deleteStdntModal);
      })

</script>


<%- include("partials/footer.ejs") %>